.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  height: 25px;
  z-index: 1;
  display: flex;
  background-color: black;
  align-items: center;
}

.nav__black {
  background-color: black;
}

.nav-github {
  position: fixed;
  align-items: center;
  right: 10px;
  color: beige;
  margin-left: 10px;
}

a {
  color: inherit;
}

.nav-ig {
  position: fixed;
  align-items: center;
  right: 45px;
  margin-left: 10px;
  color: beige;
}

.nav-linkedIn {
  right: 80px;
  position: fixed;
  color: beige;
  align-items: center;
}
